<div class="m-6 flex gap-4 flex-col">
  <div>
    <p class="text-4xl">{{company.title}}</p>
    <p>Company number <span class="font-bold">{{company.company_number}}</span></p>
  </div>
  <div>
    <p>Registered office address</p>
    <p class="font-bold">{{company.address_snippet}}</p>
  </div>
  <div>
    <p>Company status</p>
    <p class="font-bold">{{company.company_status}}</p>
  </div>
  <div>
    <p>Company type</p>
    <div [ngSwitch]="company.company_type">
      <p class="font-bold" *ngSwitchCase="'ltd'">Private limited company</p>
      <p class="font-bold" *ngSwitchCase="'registered-overseas-entity'">Registered Overseas Entity</p>
      <p class="font-bold" *ngSwitchCase="'private-limited-guarant-nsc'">Private Limited Guarantee NSC</p>
      <p class="font-bold" *ngSwitchCase="'limited-partnership'">Limited Partnership</p>
    </div>
  </div>
  <div>
    <p>Incorporated on </p>
    <p class="font-bold">{{company.date_of_creation}}</p>
  </div>

  <div *ngIf="company.company_status === 'dissolved'">
    <p>Dissolved on</p>
    <p class="font-bold">{{company.date_of_cessation}}</p>
  </div>

  <p (click)="listOfficers()" class="cursor-pointer text-2xl underline text-blue-600">List Officers</p>
</div>
